.Food .innerfood {
  fill: green;
}

.Food .outerfood {
  stroke: darkgreen;
  stroke-width: 1px;
  fill: none;
}

.Agent .direction {
  stroke-width: 4px;
}

.Agent .detection {
  fill: none;
  stroke: red;
  stroke-dasharray: 5px 5px;
  opacity: .3;
}

.Agent text {
  text-anchor: middle;
  font-size: 8px;
}