.Food .innerfood {
  fill: green;
}

.Food .outerfood {
  stroke: darkgreen;
  stroke-width: 1px;
  stroke-dasharray: 3px 1px;
  fill: none;
}

.Agent .direction {
  stroke-width: 4px;
}

.Agent .detection {
  fill: none;
  stroke: darkred;
  stroke-dasharray: 4px 10px;
  opacity: .2;
}

.Agent text {
  text-anchor: middle;
  font-size: 8px;
}

.Agent .velocity {
  stroke: green;
  stroke-width: 1px;
}

.Agent .accel { 
  stroke: red;
  stroke-width: 1px;
}